# Mengabaikan file objek hasil kompilasi
*.o
*.obj
*.exe
*.out
*.bin
# Mengabaikan file eksekusi di dalam folder c/
/*.exe
/*.out

# Mengabaikan semua file dalam folder c/ dan subfolder-subfoldernya
/*